<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPvLFccjJynMjRdGR2gQbAAbuLv0XKiBU</string>
	<key>GCM_SENDER_ID</key>
	<string>653999942770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelagentapp</string>
	<key>PROJECT_ID</key>
	<string>travelagentapp-5c995</string>
	<key>STORAGE_BUCKET</key>
	<string>travelagentapp-5c995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653999942770:ios:2cfa52c4e50bdec75366eb</string>
</dict>
</plist>